MMenv/   
pyproject.toml
*.env
# Ignore everything in data folder except .gitkeep
data/*
!data/**/.gitkeep
# Ignore everything in logs folder except .gitkeep
logs/*
!logs/**/.gitkeep
# Ignore everything in models folder except .gitkeep
models/*
!models/**/.gitkeep
__pycache__/
*.pyc
bank_reviews.egg-info/
dist/